input[type="text"],
input[type="file"],
input[list],
input[type="number"],
select{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[list]{
    cursor: pointer;
}

input[type="submit"]{
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #45a049;
}

.warningRegister{
    background-color: #e98527;
    padding: 25px;
    margin:25px;
    text-align: center;
    font-weight: 800;
    color:white;
    border-radius: 25px;
}

.hideClass{
    display:none;
}