.name {
	display: block;
	color: black;
  font-weight: bold;
  font-size: 20px;
}

.surname {
	display: block;
	color: black;
  height: 30px;
  font-weight: 500;
  font-size: 20px;
  color:#979A9A;
}

.add-count{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  padding: 0 10px;
  height:25px;
}

.subtract-count{
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  padding: 0 10px;
  height:25px;
}

.circle {
  border: 5px solid white;
  background-color: grey;
  height: 30px;
  border-radius:50%;
  width: 30px;
  color:white;
  font-weight: 500;
  justify-content: right;
  position:relative; 
  right:-180px; 
  top: 250px; 
  display: block;
  font-weight: bold;
  font-size: 20px;
}

.circleGreen {
    border: 5px solid white;
    background-color: green;
    height: 30px;
    border-radius:50%;
    width: 30px;
    color:white;
    font-weight: 500;
    justify-content: right;
    position:relative; 
    right:-180px; 
    top: 250px; 
    display: block;
    font-weight: bold;
    font-size: 20px;
}

.circleRed {
  border: 5px solid white;
  background-color: red;
  height: 30px;
  border-radius:50%;
  width: 30px;
  color:white;
  font-weight: 500;
  justify-content: right;
  position:relative; 
  right:-180px; 
  top: 250px; 
  display: block;
  font-weight: bold;
  font-size: 20px;
}