body{
  font-family: proxima-nova,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.name {
	display: block;
	color: black;
  font-weight: bold;
  font-size: 20px;
}

.surname {
	display: block;
	color: black;
  height: 30px;
  font-weight: 500;
  font-size: 20px;
  color:#979A9A;
}

.add-count{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  padding: 0 10px;
  height:25px;
  display:none; 
}

.subtract-count{
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  padding: 0 10px;
  height:25px;
  display:none;
}

.pet{
  position:absolute; 
  display:block;
  left: 135px;
  bottom:90px;
  width: 100px;
}

.avatarContainer{
  position: relative;
}

.circle {
  border: 5px solid white;
  background-color: grey;
  height: 30px;
  border-radius:50%;
  width: 30px;
  color:white;
  font-weight: 500;
  justify-content: right;
  position:relative; 
  top: 250px; 
  display: block;
  font-weight: bold;
  font-size: 20px;
}

.circleGreen {
    border: 5px solid white;
    background-color: green;
    height: 30px;
    border-radius:50%;
    width: 30px;
    color:white;
    font-weight: 500;
    justify-content: right;
    position:relative; 
    right:-180px; 
    top: 250px; 
    display: block;
    font-weight: bold;
    font-size: 20px;
}

.circleRed {
  border: 5px solid white;
  background-color: red;
  height: 30px;
  border-radius:50%;
  width: 30px;
  color:white;
  font-weight: 500;
  justify-content: right;
  position:relative; 
  right:-180px; 
  top: 250px; 
  display: block;
  font-weight: bold;
  font-size: 20px;
}

.simpleCircle{
  border: 5px solid white;
  height: 30px;
  border-radius:20px;
  width: 40px;
  color:white;
  font-weight: 500;
  display: block;
  font-weight: bold;
  font-size: 20px;
  background-color: orange;
}

.counter{
  border: 5px solid;
  height: 30px;
  border-radius:20px;
  width: 100px;
  color:white;
  font-weight: 500;
  display: block;
  font-weight: bold;
  font-size: 20px;
  background-color: orange;
  text-align: center;
}

/* Behaviour loops */
ul {
	list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.avatarPointer{
  cursor:pointer;
}

.avatarImage{
  width:450px;
  height:400px;
}

.closeButton {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  width: 80px;
  cursor: pointer;
  margin-top:-20px!important;
  margin: 5px;
}